@import "foundation/index";

// Nav

.top-nav {
	border-top: 4px double $c-lightGrey;
	// border-bottom: 4px double $c-lightGrey;
	margin: 1rem auto 0;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	display: flex;

	li {
		flex: 1 1 10%;
		height: 100%;
		display: flex;

		a {
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			margin: auto;
			width: 100%;
			min-height: 100%;
			text-align: center;
			@include fluidRem("font-size", 0.875rem, 0.9375rem);
			padding: 1rem 0.5rem;

			.link-wrap {
				display: inline-block;
				border-bottom: 2px solid transparent;
				transition: border 0.25s ease-in-out;
			}

			&:hover,
			&:focus {
				color: $c-gold;
				
				.link-wrap {
					border-bottom-color: $c-gold;
				}
			}
		}

	}


	
}

// Welcome
.welcome {
	background: image-url("img/img-welcome.jpg") no-repeat left 15% / cover;
	padding: 6vw 0 8vw;

	.group {
		@include containerStyle(rgba($c-blue, .9));
		width: 60%;
		color: $c-white;

		a {
			color: $c-white;
			font-weight: bold;

			&:hover,
			&:focus {
				color: $c-gold;
			}
		}

		h2 {
			color: $c-white;
		}
	}
	
}


// Portfolio

.portfolio {
	padding: 4vw 0;
	// background: $c-lightGrey;
}

.portfolio-group {
	@extend %links;
	margin-bottom: 3rem;

	&.web-design {
		ul {

			li {

				&:nth-child(1) {
					a::before {
						background: image-url("img/img-full-columbia.png") no-repeat center top / cover;
					}
				}

				&:nth-child(2) {
					a::before {
						background: image-url("img/img-full-hastings.png") no-repeat center top / cover;
					}
				}

				&:nth-child(3) {
					a::before {
						background: image-url("img/img-full-uccs-cg.png") no-repeat center top / cover;
					}
				}

				&:nth-child(4) {
					a::before {
						background: image-url("img/img-full-mercer.png") no-repeat center top / cover;
					}
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					a {
						&:hover,
						&:focus {

							&::before {
								background-position: center bottom;
							}
						}
					}
				}
			}
		}
	}

	&.print-design {
		ul {

			li {

				&:nth-child(1) {
					a::before {
						background: image-url("img/img-tb-menu.jpg") no-repeat center top / contain;
					}
				}

				&:nth-child(2) {
					a::before {
						background: image-url("img/img-full-hastings.png") no-repeat center top / cover;
					}
				}

				&:nth-child(3) {
					a::before {
						background: image-url("img/img-full-uccs-cg.png") no-repeat center top / cover;
					}
				}

				&:nth-child(4) {
					a::before {
						background: image-url("img/img-full-mercer.png") no-repeat center top / cover;
					}
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					a {
						&:hover,
						&:focus {

							&::before {
								background-position: center bottom;
							}
						}
					}
				}
			}
		}
	}

	&.interior-design {
		ul {

			li {

				&:nth-child(1) {
					a::before {
						background: image-url("img/img-full-columbia.png") no-repeat center top / cover;
					}
				}

				&:nth-child(2) {
					a::before {
						background: image-url("img/img-full-hastings.png") no-repeat center top / cover;
					}
				}

				&:nth-child(3) {
					a::before {
						background: image-url("img/img-full-uccs-cg.png") no-repeat center top / cover;
					}
				}

				&:nth-child(4) {
					a::before {
						background: image-url("img/img-full-mercer.png") no-repeat center top / cover;
					}
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					a {
						&:hover,
						&:focus {

							&::before {
								background-position: center bottom;
							}
						}
					}
				}
			}
		}
	}
}




