@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/fontawesome-webfont.woff") format("woff");
}
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe,
fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden, .ac_results.hide,
.ceeb-results.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .focusable.ac_results.hide:active,
.focusable.ceeb-results.hide:active,
.visuallyhidden.focusable:focus,
.focusable.ac_results.hide:focus,
.focusable.ceeb-results.hide:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.nobreak {
  white-space: nowrap;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
          appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.4;
  font-family: "PT Serif", Georgia, Times, serif;
  color: #333;
  scroll-behavior: smooth;
  text-wrap: pretty;
}

body {
  font-size: 1rem;
}
@media (min-width: 37.5rem) {
  body {
    font-size: 1.0625rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

h1,
h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #105776;
}
@media (min-width: 18.75rem) {
  h1,
  h2 {
    font-size: calc(2.25rem + 0.4 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  h1,
  h2 {
    font-size: 2.65rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #395637;
}
@media (min-width: 18.75rem) {
  h3 {
    font-size: calc(2rem + 0.35 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  h3 {
    font-size: 2.35rem;
  }
}

h4 {
  font-size: 1.65rem;
  font-family: "PT Serif", Georgia, Times, serif;
}
@media (min-width: 18.75rem) {
  h4 {
    font-size: calc(1.65rem + 0.1 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 0.35rem;
}
@media (min-width: 18.75rem) {
  h5 {
    font-size: calc(1.25rem + 0.2 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  h5 {
    font-size: 1.45rem;
  }
}

h6 {
  font-size: 1.25rem;
}
@media (min-width: 18.75rem) {
  h6 {
    font-size: calc(1.25rem + 0.25 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  h6 {
    font-size: 1.5rem;
  }
}

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem;
  font-style: normal;
}

ul,
ol {
  margin: 1rem 0 1rem 1.5rem;
}
a {
  color: #19809F;
  transition: all 0.25s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
  color: #0b3947;
}

.fancybox-content .copyright,
small,
.copyright {
  font-size: 0.875em;
  font-style: italic;
}

.callout {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #105776;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 1.05em;
  display: block;
  margin-bottom: 0.5rem;
}

.subtext {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #105776;
  font-size: 0.9em;
  border-top: 1px solid #19809F;
  border-bottom: 1px solid #19809F;
  padding: 0.75rem 0;
  margin: 1rem 0 1.5rem;
}

.error,
.val-header {
  color: red;
}

.nobr {
  white-space: nowrap;
}

.graphic-lg {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 600;
  display: block;
  letter-spacing: -0.01em;
  color: #e8c63a;
}
@media (min-width: 18.75rem) {
  .graphic-lg {
    font-size: calc(2.25rem + 2.25 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .graphic-lg {
    font-size: 4.5rem;
  }
}

.graphic-sm {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 300;
  color: #e8c63a;
}
@media (min-width: 18.75rem) {
  .graphic-sm {
    font-size: calc(1rem + 0.5 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .graphic-sm {
    font-size: 1.5rem;
  }
}

.desc {
  display: block;
}
.desc::before {
  content: "";
  display: block;
  height: 2px;
  width: 35%;
  background: #e8c63a;
  margin: 0.75rem auto;
}

.item-title {
  color: #19809F;
}

.text-wrap {
  max-width: 50rem;
  margin: auto auto 2rem;
  color: #19809F;
  text-align: center;
}
.text-wrap h5::after {
  content: "\f107";
  font-family: "Icons";
  color: #19809F;
  margin: auto;
  display: block;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
.center {
  width: 90%;
  max-width: 75rem;
  margin: auto;
}

.header {
  padding: 1rem 0;
}
@media (min-width: 18.75rem) {
  .header {
    padding: calc(1rem + 1 * (100vw - 18.75rem) / 56.25) calc(0rem + 0 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .header {
    padding: 2rem 0;
  }
}

.footer {
  background: #105776;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 18.75rem) {
  .footer {
    padding: calc(1rem + 0.5 * (100vw - 18.75rem) / 56.25) calc(0rem + 0 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .footer {
    padding: 1.5rem 0;
  }
}
.footer .footer-links {
  margin: 0.5rem auto 0;
  display: flex;
  justify-content: center;
}
.footer .footer-links li {
  list-style-type: none;
}
.footer .footer-links li ~ li {
  margin-left: 1rem;
}
.footer .footer-links li a {
  color: transparent;
  text-decoration: none;
  font-size: 0;
}
.footer .footer-links li a .link-text {
  display: none;
}
.footer .footer-links li a::before {
  height: auto;
  width: auto;
  color: #fff;
  font-family: "Icons";
  display: block;
  font-size: 1.25rem;
}
@media (min-width: 18.75rem) {
  .footer .footer-links li a::before {
    font-size: calc(1.25rem + 0.75 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .footer .footer-links li a::before {
    font-size: 2rem;
  }
}
.footer .footer-links li a.link-instagram::before {
  content: "\f16d";
}
.footer .footer-links li a.link-linkedin::before {
  content: "\f0e1";
}
.footer .footer-links li a:hover::before, .footer .footer-links li a:focus::before {
  color: #e8c63a;
}
@media (min-width: 25rem) {
  .footer .footer-content {
    display: flex;
    align-items: center;
  }
  .footer .footer-content .footer-links {
    margin: 0 0 0 auto;
  }
}

button.button, .button button,
a.button,
.button a,
input.button,
.button input, button,
.type_event_button a,
input[type=submit],
input[type=button], button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
  background: #105776;
  color: #fff;
  border: 1px solid #105776;
  font-size: 0.78rem;
  transition: all 0.25s ease-in-out;
  display: block;
  width: 100%;
  padding: 0.65em 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border-radius: 0;
  outline: 0;
  line-height: 1.2;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-border-radius: 0;
}
a.button:hover,
.button a:hover,
input.button:hover,
.button input:hover, button:hover,
.type_event_button a:hover,
input[type=submit]:hover,
input[type=button]:hover,
a.major-button:hover,
.major-button a:hover,
input.major-button:hover,
.major-button input:hover,
a.button:focus,
.button a:focus,
input.button:focus,
.button input:focus, button:focus,
.type_event_button a:focus,
input[type=submit]:focus,
input[type=button]:focus,
a.major-button:focus,
.major-button a:focus,
input.major-button:focus,
.major-button input:focus {
  background: transparent;
  color: #105776;
  border: 1px solid #105776;
}
@media (min-width: 18.75rem) {
  button.button, .button button,
  a.button,
  .button a,
  input.button,
  .button input, button,
  .type_event_button a,
  input[type=submit],
  input[type=button], button.major-button, .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input {
    font-size: calc(0.78rem + 0.195 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  button.button, .button button,
  a.button,
  .button a,
  input.button,
  .button input, button,
  .type_event_button a,
  input[type=submit],
  input[type=button], button.major-button, .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input {
    font-size: 0.975rem;
  }
}
@media (min-width: 25rem) {
  button.button, .button button,
  a.button,
  .button a,
  input.button,
  .button input, button,
  .type_event_button a,
  input[type=submit],
  input[type=button], button.major-button, .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input {
    display: inline-block;
    width: auto;
  }
}

button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
  font-size: 1.25rem;
}
@media (min-width: 18.75rem) {
  button.major-button, .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input {
    font-size: calc(1.25rem + 0.25 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  button.major-button, .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input {
    font-size: 1.5rem;
  }
}

.lp-contact-options li .button, button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input {
  background: #105776;
  color: #fff;
  border: 1px solid #105776;
  font-size: 0.78rem;
  padding: 0.5em 1em;
}
.lp-contact-options li .button:hover, button.minor-button:hover, .minor-button button:hover,
a.minor-button:hover,
.minor-button a:hover,
input.minor-button:hover,
.minor-button input:hover, .lp-contact-options li .button:focus, button.minor-button:focus, .minor-button button:focus,
a.minor-button:focus,
.minor-button a:focus,
input.minor-button:focus,
.minor-button input:focus {
  background: transparent;
  color: #105776;
  border: 1px solid #105776;
}
@media (min-width: 18.75rem) {
  .lp-contact-options li .button, button.minor-button, .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input {
    font-size: calc(0.78rem + 0.195 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .lp-contact-options li .button, button.minor-button, .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input {
    font-size: 0.975rem;
  }
}

.rte-custom-highschoollookup7 .result {
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #000;
}
.rte-custom-highschoollookup7 .result .location {
  display: block;
  font-size: 0.875em;
  font-style: italic;
}
.rte-custom-highschoollookup7 .result a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}
.rte-custom-highschoollookup7 .result a::after {
  content: "✗ ";
  color: #000;
}
.ceeb-result-container {
  position: relative;
}
.ceeb-result-container .ceeb-icon.show::after {
  content: "✗ ";
  position: absolute;
  right: 0;
  cursor: pointer;
}
.ceeb-result-container .ceeb-icon.show:hover::after, .ceeb-result-container .ceeb-icon.show:focus::after {
  color: blue;
}

.ac_results,
.ceeb-results {
  background: #fff;
  position: relative;
  z-index: 1000;
}
.ac_results.show,
.ceeb-results.show {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ac_results.many-results,
.ceeb-results.many-results {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ac_results.few-results,
.ceeb-results.few-results {
  height: -moz-fit-content;
  height: fit-content;
}
.ac_results ul,
.ceeb-results ul {
  margin: 0;
  padding: 0;
}
.ac_results li,
.ceeb-results li {
  display: block;
  margin: 0;
  padding: 0.75em;
  cursor: pointer;
}
.ac_results li:nth-child(even),
.ceeb-results li:nth-child(even) {
  background: #eee;
}
.ac_results li.ac_over, .ac_results li:hover, .ac_results li:focus,
.ceeb-results li.ac_over,
.ceeb-results li:hover,
.ceeb-results li:focus {
  background-color: #000;
  color: white;
}
.ac_results li .location,
.ac_results li .result-location,
.ceeb-results li .location,
.ceeb-results li .result-location {
  display: block;
  font-size: 0.85em;
  font-style: italic;
  margin: 0;
}
select, textarea, input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
input[type=search] {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.5rem;
  border: 1px solid black;
  background: white;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
select:hover, textarea:hover, input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
input[type=search]:hover, select:focus, textarea:focus, input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
input[type=search]:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #000;
}

@media (min-width: 37.5rem) {
  input[type=tel] {
    width: auto;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  min-height: 8em;
}

select {
  overflow: hidden;
  height: 2.75rem;
}

input[type=radio],
input[type=checkbox] {
  font-size: 1em;
  float: left;
  width: 1rem;
  height: 1rem;
  margin: 0.35rem 0 0;
}
input[type=radio] + label,
input[type=checkbox] + label {
  display: block;
  min-height: 0;
  margin: 0;
  padding: 0.3125em 0 0.3125em 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2;
}

.mauticform-req-label {
  font-weight: bold;
}

.mauticform-errormsg {
  background: red;
  color: #fff;
  display: flex;
  margin-top: 0.25rem;
  padding: 0.35rem;
  align-items: baseline;
  font-size: 1rem;
}
.mauticform-errormsg::before {
  background: #fff;
  content: "!";
  color: red;
  border-radius: 100%;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  margin-right: 0.35rem;
  flex-shrink: 0;
}

.mauticform-message:empty {
  display: none;
}

.mauticform-message {
  font-weight: bold;
  margin: 1rem 0;
  padding: 1rem;
  background: green;
  color: white;
}
.mauticform-message:before {
  content: "\f00c";
  font-family: "Icons";
  margin-right: 0.5rem;
}

.mauticform-page-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  margin: -1rem -5% 0 0;
}

.mauticform-row {
  display: block;
  width: 100%;
  margin: 1rem 5% 0 0;
}
@media (min-width: 37.5rem) {
  .mauticform-row.mauticform-row-partial-half {
    width: 45%;
  }
  .mauticform-row.mauticform-row-partial-third {
    width: 28.333%;
  }
  .mauticform-row.mauticform-row-partial-quarter {
    width: 20%;
  }
}

.mauticform-label {
  display: block;
  width: auto;
  padding: 0 0 0.125em;
  font-size: 1rem;
  line-height: 1.4;
}
.mauticform-label * {
  padding: 0;
}

.mauticform-button-wrapper {
  display: block;
  margin: 1.5rem 5% 0 0;
}
.mauticform-button-wrapper:first-of-type {
  margin-top: 0;
}
.mauticform-button-wrapper:last-of-type {
  margin-bottom: 0.5rem;
}

.logo {
  display: block;
  margin: 0 auto;
  text-indent: -9999em;
  color: black;
}
.logo::after {
  display: none;
}

.logo {
  width: 15rem;
  height: 5.45rem;
  background: url("img/laralatham-logo.svg") no-repeat center center/contain;
}
@media (min-width: 18.75rem) {
  .logo {
    width: calc(15rem + 3.75 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .logo {
    width: 18.75rem;
  }
}
@media (min-width: 18.75rem) {
  .logo {
    height: calc(5.45rem + 1.3625 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .logo {
    height: 6.8125rem;
  }
}

.fancybox-container {
  font-family: inherit;
}

.fancybox-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-content {
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: 37.5rem !important;
  margin: 0 auto !important;
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
  position: relative !important;
}
.fancybox-content > [tabindex="0"] {
  outline: 0;
}
[class*=fancybox-close] {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}
[class*=fancybox-close]::after {
  content: "\f00d";
  color: #19809F;
  font-family: "Icons";
  font-size: 2rem;
  line-height: 1;
  box-shadow: none;
  transition: all 0.25s ease-in-out;
}
[class*=fancybox-close]:hover, [class*=fancybox-close]:focus {
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}
[class*=fancybox-close]:hover::after, [class*=fancybox-close]:focus::after {
  text-decoration: none;
  color: #27b3dd;
  box-shadow: none;
}

.lp-type-help, .lp-type-privacy, .lp-type-index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.lp-type-help > *, .lp-type-privacy > *, .lp-type-index > * {
  flex-shrink: 0;
}

.page-wrap {
  flex-grow: 1;
}

.lp-type-help .page-wrap,
.lp-type-privacy .page-wrap,
.lp-type-index .page-wrap {
  display: flex;
  flex-direction: column;
}
.lp-type-help .lp-main,
.lp-type-privacy .lp-main,
.lp-type-index .lp-main {
  padding: 2rem 0 2rem;
  background: #eee;
  width: 100%;
  flex-grow: 1;
  display: grid;
}
@media (min-width: 18.75rem) {
  .lp-type-help .lp-main,
  .lp-type-privacy .lp-main,
  .lp-type-index .lp-main {
    padding: calc(2rem + 2 * (100vw - 18.75rem) / 56.25) calc(0rem + 0 * (100vw - 18.75rem) / 56.25) calc(2rem + 2 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .lp-type-help .lp-main,
  .lp-type-privacy .lp-main,
  .lp-type-index .lp-main {
    padding: 4rem 0 4rem;
  }
}
.lp-type-help .general-content,
.lp-type-privacy .general-content,
.lp-type-index .general-content {
  background: white;
  padding: 1.25rem 1.5rem;
  max-width: 50rem;
  margin: auto;
}
@media (min-width: 18.75rem) {
  .lp-type-help .general-content,
  .lp-type-privacy .general-content,
  .lp-type-index .general-content {
    padding: calc(1.25rem + 0.75 * (100vw - 18.75rem) / 31.25) calc(1.5rem + 0.75 * (100vw - 18.75rem) / 31.25);
  }
}
@media (min-width: 50rem) {
  .lp-type-help .general-content,
  .lp-type-privacy .general-content,
  .lp-type-index .general-content {
    padding: 2rem 2.25rem;
  }
}

.lp-type-privacy ul li:last-of-type {
  display: none;
}

.lp-type-help ul li:first-of-type {
  display: none;
}

.main-nav {
  padding: 1.5rem 0;
}
@media (min-width: 18.75rem) {
  .main-nav {
    padding: calc(1.5rem + 0.5 * (100vw - 18.75rem) / 56.25) calc(0rem + 0 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .main-nav {
    padding: 2rem 0;
  }
}
.main-nav ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.main-nav ul li {
  text-align: center;
  list-style-type: none;
}
.main-nav ul li a {
  color: #105776;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  padding: 0.25rem 0;
}
@media (min-width: 18.75rem) {
  .main-nav ul li a {
    font-size: calc(0.875rem + 0.0375 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .main-nav ul li a {
    font-size: 0.9125rem;
  }
}
@media (min-width: 18.75rem) {
  .main-nav ul li a {
    padding: calc(0.25rem + 0.25 * (100vw - 18.75rem) / 56.25) calc(0rem + 0 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .main-nav ul li a {
    padding: 0.5rem 0;
  }
}
.main-nav ul li a:hover, .main-nav ul li a:focus {
  color: #19809F;
  border-bottom: 3px solid #19809F;
}
@media (min-width: 37.5rem) {
  .main-nav ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.lp-about {
  background: linear-gradient(0deg, transparent 0%, rgb(255, 255, 255) 100%), #fff url("img/bg-icon-40.svg") repeat center/2rem;
  position: relative;
  border-top: 1px solid #eee;
  padding: 5vw 0;
  overflow: hidden;
}
.lp-about > .center::after {
  content: "";
  display: block;
  background: url("img/lara-andy-crop.jpg") center 20%/cover;
  height: 40vw;
  min-height: 12rem;
  width: 100%;
  border: 1px solid #eee;
  margin: 2rem auto 0;
}
.lp-about .lp-text-wrap {
  padding: 2vw 0;
  max-width: 50rem;
  margin: auto;
}
@media (min-width: 37.5rem) {
  .lp-about > .center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .lp-about > .center::after {
    display: none;
  }
  .lp-about > .center::before {
    content: "";
    display: block;
    background: url("img/lara-andy-crop.jpg") center top/cover;
    height: 100%;
    width: 100%;
    border: 1px solid #eee;
  }
}
@media (min-width: 50rem) {
  .lp-about > .center {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}

.lp-contact-options {
  margin: 1rem 0 0;
}
.lp-contact-options li {
  list-style-type: none;
}
.lp-contact-options li.email a::before, .lp-contact-options li.resume a::before {
  font-family: "Icons";
  margin-right: 0.5rem;
  display: inline-block;
}
.lp-contact-options li.email a::before {
  content: "\f0e0";
}
.lp-contact-options li.resume a::before {
  content: "\f0ed";
}
.lp-contact-options li ~ li {
  margin-top: 1rem;
}
@media (min-width: 25rem) {
  .lp-contact-options {
    display: flex;
  }
  .lp-contact-options li ~ li {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.lp-stats {
  background: #105776 linear-gradient(140deg, #115e7f 0%, #115e7f 20%, #105776 20%, #105776 75%, #115e7f 75%, #115e7f 100%);
  padding: 4vw 0;
}
.lp-stats .lp-stats-list {
  margin: 0;
}
.lp-stats .lp-stats-list li {
  list-style-type: none;
  color: #fff;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
}
.lp-stats .lp-stats-list li.stat-athlete::before, .lp-stats .lp-stats-list li.stat-location::before {
  font-family: "Icons";
  font-size: 3.75rem;
  line-height: 1;
  display: block;
  margin: 0 auto;
  color: #e8c63a;
}
@media (min-width: 18.75rem) {
  .lp-stats .lp-stats-list li.stat-athlete::before, .lp-stats .lp-stats-list li.stat-location::before {
    font-size: calc(3.75rem + 3.75 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75rem) {
  .lp-stats .lp-stats-list li.stat-athlete::before, .lp-stats .lp-stats-list li.stat-location::before {
    font-size: 7.5rem;
  }
}
.lp-stats .lp-stats-list li.stat-athlete::before {
  content: "\f091";
}
.lp-stats .lp-stats-list li.stat-location::before {
  content: "\f041";
}
@media (min-width: 25rem) {
  .lp-stats .lp-stats-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 50rem) {
  .lp-stats .lp-stats-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.lp-project {
  background: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, white 5%);
  padding: 10vw 0 6vw;
  border-top: 1px solid #eee;
}
.lp-project ~ .lp-project {
  padding: 10vw 0 12vw;
}
.lp-project ul {
  margin: 0;
}
.lp-project ul li {
  list-style-type: none;
}
.lp-project .lp-work-title {
  color: #105776;
  letter-spacing: 0.15em;
}
.lp-project .lp-work-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 20%;
  background: #e8c63a;
  margin: 0.75rem auto;
}
.lp-project .intro {
  max-width: 50rem;
  margin: auto auto 3vw;
  text-align: center;
}
.lp-project .item {
  padding: 3vw 0 5vw;
}
.lp-project .item ~ .item {
  margin-top: 4vw;
  border-top: 1px solid #e8c63a;
  padding-top: 10vw;
}
.lp-project .item:last-of-type {
  padding-bottom: 0;
}

.lp-web-design .item {
  padding: 4vw 0;
  text-align: center;
}
.lp-web-design .item ~ .item {
  margin-top: 4vw;
  border-top: 1px solid #e8c63a;
  padding-top: 10vw;
}
.lp-web-design .item .web-item-wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 55vw;
  min-height: 25rem;
  max-height: 45rem;
  margin: auto auto 2rem;
}
.lp-web-design .item:nth-child(1) .web-item-wrap::before, .lp-web-design .item:nth-child(1) .web-item-wrap::after {
  background: url("img/web/web-cornerstone-ipad.jpg") no-repeat center top/contain;
}
.lp-web-design .item:nth-child(2) .web-item-wrap::before, .lp-web-design .item:nth-child(2) .web-item-wrap::after {
  background: url("img/web/web-columbiacollege-cg-ipad.jpg") no-repeat center top/contain;
}
.lp-web-design .item:nth-child(3) .web-item-wrap::before, .lp-web-design .item:nth-child(3) .web-item-wrap::after {
  background: url("img/web/web-springfield-ipad.jpg") no-repeat center top/contain;
}
.lp-web-design .item:nth-child(4) .web-item-wrap::before, .lp-web-design .item:nth-child(4) .web-item-wrap::after {
  background: url("img/web/web-msumadult-ipad.jpg") no-repeat center top/contain;
}
.lp-web-design .item .button {
  margin-bottom: 1rem;
}
@media (min-width: 50rem) {
  .lp-web-design .item {
    text-align: left;
  }
  .lp-web-design .item .web-item-wrap {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .lp-web-design .item .web-item-wrap .web-text-wrap {
    padding: 2rem 0;
  }
  .lp-web-design .item .web-item-wrap::before {
    display: none;
  }
  .lp-web-design .item .web-item-wrap::after {
    content: "";
    display: block;
    width: 100%;
    height: 55vw;
    max-height: 45rem;
    margin: auto;
    background-position: left top;
  }
}
@media (min-width: 62.5rem) {
  .lp-web-design .item .web-item-wrap {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2fr 0.5fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .lp-web-design .item .web-item-wrap .web-text-wrap {
    padding: 4rem 0;
    grid-column: 2/2;
  }
  .lp-web-design .item .web-item-wrap::after {
    grid-column: 3/3;
  }
}

.print-list {
  margin: 0;
}
.print-list li {
  list-style-type: none;
  font-size: 0;
  color: transparent;
  min-height: 55vw;
}
.print-list li ~ li {
  margin-top: 1rem;
}
.print-list li[id=la-wedding] {
  background: url("img/graphic/print-mywedding.jpg") no-repeat center/cover;
}
.print-list li[id=cl-wedding] {
  background: url("img/graphic/print-CL_wedding-sm.jpg") no-repeat center/cover;
}
.print-list li[id=aa-wedding] {
  background: url("img/graphic/print-AA_wedding-sm.jpg") no-repeat center/cover;
}
.print-list li[id=wheaton] {
  background: url("img/graphic/wheaton_brochure.jpg") no-repeat center/cover;
}
@media (min-width: 68.75rem) {
  .print-list {
    display: grid;
    grid-template-columns: 2fr 1.25fr;
    grid-template-rows: 1.5fr 0.5fr 0.5fr;
    grid-gap: 1rem;
  }
  .print-list li {
    min-height: 30rem;
  }
  .print-list li ~ li {
    margin-top: 0;
  }
  .print-list li[id=la-wedding] {
    grid-column: 1/3;
  }
  .print-list li[id=cl-wedding] {
    background: url("img/graphic/print-CL_wedding.jpg") no-repeat center/cover;
    grid-column: 2/3;
    grid-row: 2/4;
  }
}

.branding-list li {
  font-size: 0;
  color: transparent;
  text-align: center;
  border: 1px solid #eee;
  width: 100%;
}
.branding-list li ~ li {
  margin-top: 1rem;
}
.branding-list li img {
  text-align: center;
  margin: auto;
}
@media (min-width: 37.5rem) {
  .branding-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .branding-list li {
    display: flex;
    margin: auto;
  }
  .branding-list li ~ li {
    margin-top: 0;
  }
}

.lp-interior-design .interior-list {
  margin: 1rem;
}
.lp-interior-design .interior-list li {
  text-align: left;
  position: relative;
}
.lp-interior-design .interior-list li ~ li {
  margin-top: 1.5rem;
}
.lp-interior-design .interior-list li .tag {
  display: inline-block;
  margin: 0 0 0 auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.35rem 1.25rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0;
  color: #19809F;
}
.lp-interior-design .interior-list li a {
  display: block;
  width: 100%;
  min-height: 25rem;
  height: 50vw;
  max-height: 44rem;
}
.lp-interior-design .interior-list li a:hover, .lp-interior-design .interior-list li a:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.lp-interior-design .interior-list li a:hover .tag, .lp-interior-design .interior-list li a:focus .tag {
  box-shadow: none;
  color: #19809F;
}
.lp-interior-design .interior-list.ece .before a {
  background: url("img/interior/ece_before.jpg") no-repeat center 90%/cover;
}
.lp-interior-design .interior-list.ece .after a {
  background: url("img/interior/ece_after.jpg") no-repeat 60% bottom/cover;
}
.lp-interior-design .interior-list.guest .before a {
  min-height: 40rem;
  background: url("img/interior/guest_bed_before.jpg") no-repeat center/cover;
}
.lp-interior-design .interior-list.guest .after a {
  min-height: 40rem;
  background: url("img/interior/guest_bed_after2.jpg") no-repeat center center/cover;
}
.lp-interior-design .interior-list.lounge .before a {
  background: url("img/interior/lounge_before.jpg") no-repeat center/cover;
}
.lp-interior-design .interior-list.lounge .after a {
  background: url("img/interior/lounge_after.jpg") no-repeat center/cover;
}
.lp-interior-design .interior-list.main .before a {
  min-height: 30rem;
  background: url("img/interior/main_bed_before.jpg") no-repeat center bottom/cover;
}
.lp-interior-design .interior-list.main .after a {
  min-height: 30rem;
  background: url("img/interior/main_bed_after.jpg") no-repeat 15% center/cover;
}
@media (min-width: 62.5rem) {
  .lp-interior-design .interior-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .lp-interior-design .interior-list.ece .before a,
  .lp-interior-design .interior-list.ece .after a, .lp-interior-design .interior-list.lounge .before a,
  .lp-interior-design .interior-list.lounge .after a {
    height: 35vw;
  }
  .lp-interior-design .interior-list li {
    text-align: center;
  }
  .lp-interior-design .interior-list li ~ li {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */